body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: green;
    border: 15px red;
}
main{
    border: 15px dotted red;
    background-color: green;
}
footer{
    border: 15px solid green;
    background-color: red;
}